@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900&display=swap");

:root {
  --sb-gray: #f0f1f2;
  --sb-blue: #00549e;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-main {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 1s linear;
}

.form-main__wrapper-m {
  background-color: #fff;
  max-width: 800px;
  border-radius: 5px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.form-main__wrapper-m__second {
  padding: 20px 20px;
  width: 100%;
  transition: 1s linear;
}

.form-main__wrapper--button {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-main__wrapper--button button {
  flex: 1;
  flex-grow: 1;
}

.form-main__header-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 6.25rem;
  position: relative;
  justify-content: center;
}

.form-main_header-image {
  height: 1.625rem;
  width: 7.5625rem;
}

.form-b__check-main {
  display: flex;
  flex-flow: column wrap;
}

.form-b__input-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.form-b__lable {
  width: 100%;
}

.form-b__input,
.form-b__select {
  width: 94% !important;
}

@media only screen and (max-width: 590px) {
  .form-b__input,
  .form-b__select {
    width: 90% !important;
  }
}

@media only screen and (max-width: 395px) {
  .form-b__input,
  .form-b__select {
    width: 88% !important;
  }
}

.form-b__input--input {
  width: 100% !important ;
}

.form-b__group--select {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
}

.form-b_text {
  resize: none;
}

/* .form-b__check {
  display: flex !important;
  flex: 0 1 41%;
  flex-wrap: wrap;
  width: auto;
  width: 41%;
} */

.form-b__check-lable {
  max-width: 85% !important;
}

.form-b__option--select {
  display: none;
}

.form-b__check-lable--checklist {
  max-width: 100% !important;
}

.btn-outline-info {
  border-color: #00549e !important;
  color: #212529 !important;
}

.btn-outline-info:hover {
  color: #fff !important;
  background-color: #00549e !important;
  border-color: #00549e !important;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem #00549e !important;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #00549e !important;
  background-color: transparent !important;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff !important;
  background-color: #00549e !important;
  border-color: #00549e !important;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #00549e !important;
}

.page-header--wrapper {
  background: no-repeat;
  background-position: center center;
  background-image: url("./componenets/brush_stroke.png");
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-size: contain; */
  padding: 60px;
  margin-top: -40px;
}

.page-header {
  font-size: 1.625rem;
  color: #fad701;
  line-height: 1.6875rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
}

.page-header--h2 {
  font-size: 1.125rem;
  color: var(--sb-blue);
  line-height: 1.125rem;
  text-align: left;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
}

/* tooptip styles */

#tooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
  font-size: 12px;
  max-width: inherit;
  /* padding: 5px; */

  display: inline-block;
}

#tooltip.right {
  margin-left: 5px;
}

#tooltip.left {
  margin-left: -5px;
}

#tooltip.top {
  margin-top: -5px;
}

#tooltip.bottom {
  margin-top: 5px;
}

#tooltip .tooltip-label {
  max-width: inherit;
  /* padding: 3px 8px; */
  color: #fff;
  text-align: center;
  background-color: var(--sb-gray);
  border-radius: 4px;
}

#tooltip .tooltip-inner {
  max-width: 400px;
  padding: 6px;
  color: #fff;
  text-align: center;
  background-color: var(--sb-blue);
  border-radius: 4px;
  min-height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  word-break: break-word;
}

@media only screen and (max-width: 530px) {
  #tooltip .tooltip-inner {
    max-width: 300px;
    opacity: 0.9;
  }
}

@media only screen and (max-width: 400px) {
  #tooltip .tooltip-inner {
    max-width: 250px;
    opacity: 0.9;
  }
}

@media only screen and (max-width: 321px) {
  #tooltip .tooltip-inner {
    max-width: 230px;
    opacity: 0.9;
  }
}

#tooltip.on {
  opacity: 1;
  /* transition: all 0.4s ease; */
  position: absolute;
  content: "";
  z-index: 999;
}

#tooltip.off {
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -100;
}

.tooltip-header {
  text-transform: uppercase;
  font-weight: 600;
}

.tooltip-good,
.tooltip-bad,
.tooltip-comment {
  padding-bottom: 5px;
  width: inherit;
}

.tooltip-good::before {
  content: "\1F44D";
  font-size: 16px;
  margin-left: -5px;
}

.tooltip-bad::before {
  content: "\1F44E";
  font-size: 16px;
  margin-left: -5px;
  padding-top: 3px;
}

.tooltip-comment::before {
  content: "\1F449";
  font-size: 16px;
  margin-left: -5px;
}

.tooltips-checklist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 450px) {
  .tooltips-checklist {
    justify-content: space-between;
  }

  .info-icon--checklist {
    margin-right: 6px;
  }
}

.info-icon {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  fill: #00549e;
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-left: 5px;
}

/* fade */
.tooltip-fade:after,
.tooltip-fade:before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}
.tooltip-fade:hover:after,
.tooltip-fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms linear;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.fade-exit-done {
  opacity: 0;
}
