@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-main {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-main__wrapper-m {
  background-color: #fff;
  max-width: 800px;
  border-radius: 5px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-main__wrapper-m__second {
  padding: 10px 20px;
}

.form-main__wrapper--button {
  display: flex;
}

.form-main__wrapper--button button {
  flex: 1;
  flex-grow: 1;
}

.form-main__header-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 6.25rem;
  position: relative;
  justify-content: center;
}

.form-main_header-image {
  height: 1.625rem;
  width: 7.5625rem;
}

.form-b_text {
  resize: none;
}

.form-b__option--select {
  display: none;
}
